.mainboard {
    padding: 20px;
    width: 300px;
    
}

.btnfont {
    font-size: 20px;
}

.labelsetting {
    display: flex;
    font-size: 20px;
}
.buttongroup {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}